 
#CardDataItem{
display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* border: 4px solid rgb(0, 0, 0); */
  flex-wrap: wrap;
}
.grandItem{
    display: flex;
    width: 200px;
    height: 360px;
    margin-top: 20px;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

}
.grandItem:hover {
    transform: scale(1.05) ease-in;
    box-shadow: 1px 2px 3px rgb(77, 74, 74);
  }
.cardImage{
    width: 120px;
    height: 120px;
  
}

.priceratingdata{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.branddata h1{
    text-align: center;
}
.titledata h3{
    text-align: center;

}   
 
#mySidenav a {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    top: 10px;
    left: -61px;
    bottom: 0px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 9px;
    color: rgb(0, 0, 0);
    border-radius: 0 5px 5px 0;
  }
  
 
  .about:hover{
        border: 2px solid rgb(5, 20, 236);
        font-size: 12px;
  }
   
 
  
  .addcard {
    top: 20px;
    background-color: #f44336;
  }
 .greencard{
    top: 20px;
    background-color: #6cf436 !important;
  }

  /* =========== cardNotification start====================== */

  .cardNotification{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 13300000px;
    left: -38px;
    border-radius: 30px;
    top: -10px;
    color: white;
    background-color: #f44336;

  }

  /* =========== cardNotification end ====================== */

/* ======== card data csss =========== */

.mycarddata{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 15px;
    /* border: 1px solid black; */
}

#shopingcardData{
    display: flex;
    flex-direction: column;

}

.grandItem1{
    display: flex;
    border: 1px solid black;
    
    justify-content: space-between;
    margin-bottom: 15px;
   
}
.cardImage1{
    width: 100px;
    height: 100px;
    /* background-image: ; */
    border-radius: 30px;
}

.titleprice1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttondiv{
    display: flex;
    justify-content: space-evenly;
}

.button1, .button2 {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: blue;
    color: white;
    bottom: 5px;
}
h3{
    text-align: center;
}
.imagedata1{
    align-items: center;
    display: flex;
}

.imagedata1 :hover {
    transform: scale(1.5) ease-in;
    box-shadow: 1px 2px 5px rgb(20, 19, 19);
  }
 .button1 :hover {
    font-size: large;
    border-color: black;
  }

.amountdiv{
    width: 100%;
    height: 150px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
   
}
.total, .discount, .items {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.discount{
    color: green;
}


/* ======== card data csss =========== */
